main {
    padding: 36px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    color: azure;
    grid-column: 1 / -1;
    width: 477px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
    cursor: pointer;
    border: none;
}